@charset "utf-8";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section {
  position: relative; /* 親にrelative */
  width: 300px;
  padding: 8px;
  background: #d87bf0;
}

h1 {
  color: #8914a7;
}

img {
  /* position: relative; */
  position: absolute; /* 子にabsolute */
  top: 60px;
  left: 100px;
  width: 100%;
}
