@charset "utf-8";

/* ------common&reset------ */

* {
  box-sizing: border-box;
}

body,
h2,
p {
  margin: 0;
}

img {
  display: block;
}

h2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

p {
  padding-bottom: 16px;
}

/* ------common&reset------ */

.card {
  position: relative;
  width: 300px;
  margin: 10vh auto 0;
  background-color: cadetblue;
}

.card-tag {
  position: absolute;
  top: -8px;
  left: -8px;
  padding: 4px 8px;
  border-radius: 4px;
  background: #ea203b;
  color: #fff;
}

.card-img {
  width: 100%; /* 親要素の300pxピッタリ */
  object-fit: cover;
  aspect-ratio: 3 / 2;
}

.card-desc {
  padding: 0 16px;
}
