@charset "utf-8";

.bg-001 {
  /* background: url(img/bg-stripe.png) left center repeat; */
  background-image: url(img/bg-stripe.png);
  background-position: left center;
  background-repeat: no-repeat;
}

.bg-002 {
  background: #98807b url(img/bg-cat.png) center bottom no-repeat;
  background-size: contain;
}
